<%= form_for(usuario) do |f| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Registro Acadêmico' %>
    <%= f.text_field :ra %>
  </div>

  <div class="field">
    <%= f.label :Nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :'Tipo Usuário' %>
    <%= f.text_field :tipousuario %>
  </div>

  <div class="field">
    <%= f.label :RFID %>
    <%= f.text_field :rfide %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
