<p id="notice"><%= bootstrap_flash %></p>
<div class="page-header">
<h1>Usuarios</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Registri Acadêmico</th>
      <th>Nome</th>
      <th>Tipo de Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.ra %></td>
        <td><%= usuario.nome %></td>
        <td><%= usuario.tipousuario %></td>
        <td><%= link_to 'Ver', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destruir', usuario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Usuário', new_usuario_path %>
