<p id="notice"><%= bootstrap_flash %></p>

<p>
  <strong>Registro Acadêmico:</strong>
  <%= @usuario.ra %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Tipo Usuário:</strong>
  <%= @usuario.tipousuario %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Voltar', usuarios_path %>
