<p id="notice"><%= bootstrap_flash %></p>

<p>
  <strong>Início da Reserva:</strong>
  <%= @reserva.horarioinicio %>
</p>

<p>
  <strong>Fim da Reserva:</strong>
  <%= @reserva.horariofim %>
</p>

<%= link_to 'Editar', edit_reserva_path(@reserva) %> |
<%= link_to 'Voltar', reservas_path %>
