<p id="notice"><%= notice %></p>

<p>
  <strong>Idlog:</strong>
  <%= @acesso.idlog %>
</p>

<p>
  <strong>Horarioentrada:</strong>
  <%= @acesso.horarioentrada %>
</p>

<p>
  <strong>Horariosaida:</strong>
  <%= @acesso.horariosaida %>
</p>

<%= link_to 'Edit', edit_acesso_path(@acesso) %> |
<%= link_to 'Back', acessos_path %>
