<p id="notice"><%= bootstrap_flash %></p>

<p>
  <strong>Número:</strong>
  <%= @sala.numero %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @sala.descricao %>
</p>

<%= link_to 'Editar', edit_sala_path(@sala) %> |
<%= link_to 'Voltar', salas_path %>
