<p id="notice"><%= bootstrap_flash %></p>

<p>
  <strong>Numero:</strong>
  <%= @sala.numero %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @sala.descricao %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
