<p id="notice"><%= notice %></p>

<p>
  <strong>Horário de entrada:</strong>
  <%= @acesso.horarioentrada %>
</p>

<p>
  <strong>Horário de saída:</strong>
  <%= @acesso.horariosaida %>
</p>

<%= link_to 'Editar', edit_acesso_path(@acesso) %> |
<%= link_to 'Voltar', acessos_path %>
