<p id="notice"><%= notice %></p>

<p>
  <strong>Numerosala:</strong>
  <%= @sala.numerosala %>
</p>

<p>
  <strong>Nomesala:</strong>
  <%= @sala.nomesala %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
