<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fechadura Eletronica com Controle de Acesso</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Engenharia de Software</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome/index">Home</a></li>
      <li><a href="/usuarios">Usuários</a></li>
      <li><a href="/salas">Salas</a></li>      
      <li><a href="/reservas">Reservas</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span>
            <i class="glyphicon glyphicon-log-in"></i>
            Sign Out
          </span>
        <% end %>
      </li>
    </ul>

  </div>
</nav>

<div class="container"> 
  <!--<h3>Inverted Navbar</h3>
  <p>An inverted navbar is black instead of gray.</p>-->
  <%= yield %>
</div>

</body>
</html>




<!--<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>-->


